<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Manter Funcionários </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content"paw>
                <br />
                <form id="demo-form2" data-parsley-validate class="form-horizontal ">
                    <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                        <div class="profile_img">
                            <div id="crop-avatar">
                                <!-- Current avatar -->
                                <img class="img-responsive avatar-view" src="https://cdn4.iconfinder.com/data/icons/linecon/512/photo-512.png" alt="Avatar"
                                    title="Change the avatar">
                            </div>
                        </div>
                        <a class="btn btn-success" style="margin-left: 52px;margin-top: 5px;"><i class="fa fa-edit"></i>Upload Foto</a>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nome<span class="required">*</span>
                        </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Nome">
                                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Sobrenome<span class="required">*</span>
                        </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control has-feedback-right" id="inputSuccess2" placeholder="Sobrenome">
                                <span class="fa fa-user form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Nascimento <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" data-inputmask="'mask': '99/99/9999'">
                                <span class="fa fa-calendar form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Telefone <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" data-inputmask="'mask' : '(99) 99999-9999'">
                                <span class="fa fa-phone form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control">
                                <span class="fa fa-envelope form-control-feedback right" aria-hidden="true"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Permissão <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select class="form-control">
                                    <option>Seleciona a opção...</option>
                                    <option>Admin</option>
                                    <option>Comum</option>
                              </select>
                            </div>
                        </div>

                    </div>
                    </br>
                    <div class=paw"form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-1">
                            <button type="submit" class="btn btn-success">Salvar</button>
                            <button type="reset" class="btn btn-primary">Limpar</button>
                            <button type="button" class="btn btn-danger">Cancelar</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="page-title">
                <div class="title_left">
                    <h3>Funcionários</h3>
                </div>
            </div>
            <div class="col-md-12  col-xs-12 form-group">
                <input type="text" class="form-control has-feedback-left" id="inputSuccess4" placeholder="Digite o Funcionário para busca">
                <span class="fa fa-search form-control-feedback left" aria-hidden="true"></span>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                <div class="well profile_view">
                    <div class="col-sm-12">
                        <div class="left col-xs-7">
                            <h2>Usuario X</h2>
                            <ul class="list-unstyled">
                                <li><i class="fa fa-phone"></i> (11) 9999-9999</li>
                                <li><i class="fa fa-envelope"></i> teste@teste.com</li>

                            </ul>
                        </div>
                        <div class="right col-xs-5 text-center">
                            <img src="https://cdn4.iconfinder.com/data/icons/linecon/512/photo-512.png" alt="" class="img-circle img-responsive">
                        </div>
                    </div>
                    <div class="col-xs-12 bottom text-center">
                        <div class="col-xs-12 col-sm-6 emphasis">
                            <button type="button" class="btn btn-primary btn-xs">
                                <i class="fa fa-edit"> </i> Editar
                              </button>
                        </div>
                        <div class="col-xs-12 col-sm-6 emphasis">
                            
                            <button type="button" class="btn btn-danger btn-xs">
                                <i class="fa fa-trash-o"> </i> Remover
                              </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>